<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236901377625-77582r024d19f5hpni1s32i4rv03ecrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236901377625-77582r024d19f5hpni1s32i4rv03ecrs</string>
	<key>API_KEY</key>
	<string>AIzaSyAC8HjBg3yqODkPj8mJbl315pgzsR60neU</string>
	<key>GCM_SENDER_ID</key>
	<string>236901377625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs.davis.Recipe-App</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-5ac37</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-5ac37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236901377625:ios:b451c6795dc857ae0b7348</string>
	<key>DATABASE_URL</key>
	<string>https://recipeapp-5ac37.firebaseio.com</string>
</dict>
</plist>